.carritoContainer {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: start;
  margin-top: 20vh;
}

.titulo,
.cantidad,
.precio {
  margin: 0.5rem 0;
  font-size: clamp(1rem, 3vw, 1.4rem);
}

.titulo {
  margin-bottom: 2rem;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  color: black;
}

.precioTotal {
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 2px solid grey;
}

.precioFinal {
  margin: 1rem 0;
  padding: 1rem 5rem;
  border-bottom: 2px solid grey;
}

.vaciarCarrito {
  border: none;
  background-color: #e2e2e2;
  padding: 1rem 0;
  margin-top: 1rem;
}

.buttonContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

button {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.finalizarCompra{
  text-decoration: none;
  color: rgb(224, 224, 224);
  background-color: rgb(9, 9, 9);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 700px) {
  .carritoContainer {
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
  }

  .buttonContainer {
    width: 100%;
  }
}
