.item {
  padding: 2rem 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(242, 242, 242);
  box-shadow: 24px 26px 22px -3px rgba(0, 0, 0, 0.2),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.itemImg {
  width: 200px;
  height: auto;
}

.itemTitle {
  font-size: clamp(1rem, 2vw, 1.3rem);
  margin: 1rem 0;
  margin-top: 2rem;
}

.itemDescription {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.itemPrice {
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin: 2rem 0 1rem 0;
}

.itemButton {
  margin: 1rem 0;
  padding: 1rem 2rem;
}

.itemButton {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.881);
  color: #fff;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
}
