.sinCoincidencias {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.slider-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10rem;
}

.btnBuscador {
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgb(227, 227, 227);
  margin: 0 0.2rem;
}

#rangePrecio {
  margin: 0 0.5rem;
}

.buscarPrecio {
  margin-left: 1rem;
}

.rangoMaximoPrecio {
  font-size: 1.2rem;
}
