.detailContainer{
    display: flex;
    width: 80%;
    height: 75vh;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 3rem 3rem;
    margin-top: 10%;
    padding-left: 10%;
}

@media screen and (max-width: 700px) {
    .detailContainer{
        height: 100vh;
        flex-flow: column;
        justify-content: flex-start;
        padding-left: 0%;
        padding-top: 20%;
    }
    
}